Results:
  <% books.each do |book| %>
    <h6><%= book.title %></h6>
    <h7><%= book.authors %></h7>
    <img src="<%= book.image_link %>">
    <a href="<%= book.info_link %>"><h7>More info</h7></a>
  <% end %>
