<div class="row">
    <% books.each do |book| %>
      <div class="col s12 m3 l2">
        <div class="card">
          <div class="card-image">
            <img src="<%= book.image_link %>">
            <span class="card-title"><%= book.title %></span>
          </div>
          <div class="card-content">
            By: <%= book.authors %>
          </div>
          <div class="card-action">
            <a href="<%= book.info_link %>">More info</a>
          </div>
        </div>
      </div>
    <% end %>
</div>
